<div class="boggle-container">
    <img class="mb-4 img-responsive"
         src="https://www.rstudio.com/wp-content/uploads/2016/09/RStudio-Logo-Blue-Gray-125.png"
         alt="RStudio Boggle">
    <h1 class="h3 mb-3 font-weight-normal">Boggle Solver</h1>
    <strong>Enter your boggle board to solve</strong>
    <form class="mt-3" name="boggleForm"
          ng-submit="boggleForm.$valid && solveBoggle()">
        <div class="form-group row">
            <label for="boggleInput"
                   class="col-sm-5 col-form-label">Enter your board:</label>
            <div class="col-md-7">
                <input type="input" class="form-control" id="boggleInput"
                       required
                       pattern="[A-Za-z]+"
                       ng-change="model.updateBoard()"
                       ng-model="model.data.boggleInput"
                       placeholder="alerogjswnakalfol">
            </div>
        </div>
        <div ng-if="model.data.output.board">
            <h1>Boggle Board</h1>
            <table class="table table-bordered">
                <tbody>
                <tr ng-repeat="row in model.data.output.board">
                    <td class="p-2" ng-repeat="col in row track by $index">
                        {{col}}
                    </td>
                </tbody>
            </table>
        </div>
        <button ng-disabled="!model.isBoardValid()" type="submit"
                class="form-control btn btn-primary my-3">
            Solve Boggle
        </button>
    </form>
    <div ng-if="model.data.output.foundWords">
        <h1>Words Found</h1>
        <table class="table table-bordered">
            <tbody>
            <tr ng-repeat="word in model.data.output.foundWords track by $index">
                <td class="p-2">
                    {{word}}
                </td>
            </tbody>
        </table>
    </div>
</div>

